.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px 8rem;
  background-color: white;
  box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 55px;
  height: auto;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin-right: 30px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}